/*Stylé général*/

.container-fluid {
  margin-left: -1.5%;
  height: 100vh;
  background-image: url('../img/abstract_bckgr_02.jpg');
  background-repeat: no-repeat;
}
.row {
  font-size: 30px;
}

/*Style du menu*/

.hamb {
  transition: 2s;
  background-image: url('../img/hamburger-menu.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 51px;
  transition: 1s;
  margin-top: 1.5%;
  margin-left: 1.5%;
}
.hamb:hover {
  background-image: url('../img/hamburger-menu2.png');
}
.menu {
  transition: 2s;
  left: -90%;
  z-index: 100;
  position: absolute;
  width: 90%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}
.active {
  transition: 2s;
  left: 0;
}
.cross {
  z-index: 200;
  position: absolute;
  transition: 2s;
  background-image: url('../img/cross.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 51px;
  transition: 1s;
  margin-top: 1.5%;
  margin-left: 1.5%;
}
.cross:hover {
  background-image: url('../img/cross2.png');
}
.liste {
  font-size: 1em;
  transition: 2s;
  text-align: center;
  text-decoration: underline;
  color: #1AFFBE;
  font-weight: bolder;
  margin-top: 5%;
}
.liste:hover {
  color: #CC0130;
}
.home{
  margin-top: 20%;
}
/*Style du Home*/

.center {
  height: 30%;
  margin-top: 10%;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.name {
  color: #1AFFBE;
}
.title {
  color: white;
  font-weight: bolder;
}
.footer {
  width: 14%;
  margin-left: auto;
  margin-right: auto;
  transition: 2s;
  text-align: center;
  text-decoration: underline;
  color: white;
}
.footer:hover {
  transition: 1s;
  color: #CC0130;
}
.hiden {
  visibility: hidden;
  transition: none;
}

/*Style du work*/
html {
  background-image: url('../img/abstract_bckgr_02.jpg');
}
.integration, .cms, .js {
  text-align: center;
  color:#1AFFBE;
}
.integration {
  margin-top: 3%;
}

.image {
  background-size: cover;
  height: 400px;
  background-position: center;
  border: 5px solid #1AFFBE;
  transition: 2s;
  box-sizing: border-box;
}
.image:hover {
  border: 5px solid #CC0130;
}
.plusMoins {
  background-image: url('../img/plus.png');
}
.dynamite {
  background-image: url('../img/dynamite.png');
}
.magicHat {
  background-image: url('../img/magicHat.png');
}
.todoMVC {
  background-image: url('../img/todo.png');
}
.codec {
  background-image: url('../img/codec.png');
}
.bootstrap {
  background-image: url('../img/bootstrap.png');
}
.google {
  background-image: url('../img/google.png');
}
.challenge {
  background-image: url('../img/challenge.png');
}
.ucs {
  background-image: url('../img/ucs.png');
}
.gdea {
  background-image: url('../img/gdea.png');
}
.jadore {
  background-image: url('../img/ça-jadore.png');
}
.juliette {
  background-image: url('../img/juliette.png');
}
.plusMoins:hover {
  background-image: url('../img/plus2.png');
}
.dynamite:hover {
  background-image: url('../img/dynamite2.png');
}
.magicHat:hover {
  background-image: url('../img/magicHat2.png');
}
.todoMVC:hover {
  background-image: url('../img/todo2.png');
}
.codec:hover {
  background-image: url('../img/codec2.png');
}
.bootstrap:hover {
  background-image: url('../img/bootstrap2.png');
}
.google:hover {
  background-image: url('../img/google2.png');
}
.challenge:hover {
  background-image: url('../img/challenge2.png');
}
.ucs:hover {
  background-image: url('../img/ucs2.png');
}
.gdea:hover {
  background-image: url('../img/gdea2.png');
}
.jadore:hover {
  background-image: url('../img/ça-jadore2.png');
}
.juliette:hover {
  background-image: url('../img/juliette2.png');
}
.nopadding {
   padding: 0 !important;
   margin-right: 0 !important;
   margin-left: 0 !important;
   margin-bottom: 0 !important;
   margin-top: 3%;
 }
